# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/
dist/
*.tsbuildinfo

# test / coverage
coverage/
.nyc_output/

# env / secrets
.env
.env.*
!.env.example

# logs / OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# misc
*.local
.turbo/
data/

